body,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
#__nuxt,
.app-shell {
  min-height: 100dvh;
}

.app-shell a {
  color: #0070f3;
  text-decoration: underline;

  &:hover {
    color: #0366d6;
  }
}
